.Rproj.user
.Rhistory
.RData
*.csv
.Ruserdata
figure
*.html
inst/shinyApps/app1/*.md
inst/*.md
docs/
*.tar.gz
*.xlsx
Innlasting.R
ignore

# Many kinds of data files
*.rda
*.csv
*.tsv
*.xlsx
*.xls
*.sav
*.dta
*.sas7bdat
*.rds
*.RData
*.sql

*.zip
*.tar
*.gz

